table,
th,
td {
  border: 1px solid black;
}

.date {
  text-align: center;
}

.colour1 {
  background-color: #f4fcb1;
}

.colour2 {
  background-color: #cde9ff;
}

.colour3 {
  background-color: #e8cdff;
}
