table,
th,
td {
  border: 1px solid black;
}

.date {
  text-align: center;
}

.colour1 {
  background-color: yellow;
}

.colour2 {
  background-color: orange;
}

.colour3 {
  background-color: green;
}
